<PhysiCell_settings version="devel-version">
	<domain>
		<x_min>-30.0</x_min>
		<x_max>30.0</x_max>
		<y_min>-30.0</y_min>
		<y_max>30.0</y_max>
		<z_min>-10.0</z_min>
		<z_max>10.0</z_max>
		<dx>10.0</dx>
		<dy>10.0</dy>
		<dz>10.0</dz>
		<use_2D>true</use_2D>
	</domain>
	
	<overall>
		<max_time units="min">1440.0</max_time> 
		<time_units>min</time_units>
		<space_units>micron</space_units>
	</overall>
	
	<parallel>
		<omp_num_threads>4</omp_num_threads>
	</parallel> 
	
	<save>
		<folder>.</folder>  

		<full_data>
			<interval units="min">10.0</interval>
			<enable>False</enable>
		</full_data>
		
		<SVG>
			<interval units="min">10.0</interval>
			<enable>True</enable>
		</SVG>
		
		<legacy_data>
			<enable>false</enable>
		</legacy_data>
	</save>
	
	<microenvironment_setup>
		<variable name="oxygen" units="mmHg" ID="0">
			<physical_parameter_set>
				<diffusion_coefficient units="micron^2/min">100000.0</diffusion_coefficient>
				<decay_rate units="1/min">0.1</decay_rate>  
			</physical_parameter_set>
			<initial_condition units="mmHg">38.0</initial_condition>
			<Dirichlet_boundary_condition units="mmHg" enabled="true">38.0</Dirichlet_boundary_condition>
		</variable>
		
		<options>
			<calculate_gradients>False</calculate_gradients>
			<track_internalized_substrates_in_each_agent>False</track_internalized_substrates_in_each_agent>
			 
			<initial_condition type="matlab" enabled="false">
				<filename>./config/initial.mat</filename>
			</initial_condition>
			 
			<dirichlet_nodes type="matlab" enabled="false">
				<filename>./config/dirichlet.mat</filename>
			</dirichlet_nodes>
		</options>
	</microenvironment_setup>	
	
	<user_parameters>
		<random_seed type="int" units="dimensionless" hidden="true">0</random_seed> 
		 
		
		 
		
		
		<div_initialization type="divider" description="---Parameters---" />
		<Volume_target_solid_cytoplasmic type="double" units="cubic_micron" description="default=1488.5">1488.5</Volume_target_solid_cytoplasmic>
		<Volume_target_solid_nuclear type="double" units="cubic_micron" description="default=1135.0">1135.0</Volume_target_solid_nuclear>
		<Volume_target_fluid_fraction type="double" units="cubic_micron" description="default=0.75">0.75</Volume_target_fluid_fraction>
		<Volume_cytoplasmic_biomass_change_rate type="double" units="1/min" description="default=0.0045">0.0045</Volume_cytoplasmic_biomass_change_rate>
		<Volume_nuclear_biomass_change_rate type="double" units="1/min" description="default=0.0055">0.0055</Volume_nuclear_biomass_change_rate>
		<Volume_fluid_change_rate type="double" units="1/min" description="default=0.05">0.05</Volume_fluid_change_rate>
		<Volume_calcification_rate type="double" units="1/min" description="default=0.0">0.0</Volume_calcification_rate>
		
		
		<div_initialization type="divider" description="---State Variables---" />
		<Volume_Total type="double" units="cubic_micron" description="default=2494">2494.0</Volume_Total>
		<Volume_solid type="double" units="cubic_micron" description="default=623.5">623.5</Volume_solid>
		<Volume_fluid type="double" units="cubic_micron" description="default=1870.5">1870.5</Volume_fluid>
		<Volume_fluid_fraction type="double" units="none" description="default=0.75">0.75</Volume_fluid_fraction>
		<Volume_nuclear type="double" units="cubic_micron" description="default=540.0">540.0</Volume_nuclear>
		<Volume_nuclear_solid type="double" units="cubic_micron" description="default=135.0">135.0</Volume_nuclear_solid>
		<Volume_nuclear_fluid type="double" units="cubic_micron" description="default=405.0">405.0</Volume_nuclear_fluid>
		<Volume_cytoplasmic type="double" units="cubic_micron" description="default=1954.0">1954.0</Volume_cytoplasmic>
		<Volume_cytoplasmic_solid type="double" units="cubic_micron" description="default=488.5">488.5</Volume_cytoplasmic_solid>
		<Volume_cytoplasmic_fluid type="double" units="cubic_micron" description="default=1465.5">1465.5</Volume_cytoplasmic_fluid>
		<Volume_clacification_fraction type="double" units="none" description="default=0.0">0.0</Volume_clacification_fraction>
		<Volume_cytoplasmic_to_nuclear_ratio type="double" units="none" description="default=3.6">3.6</Volume_cytoplasmic_to_nuclear_ratio>

		
		<Volume_relative_rupture_volume type="double" units="none" hidden="true">2.0</Volume_relative_rupture_volume>
		<Volume_rupture_volume type="double" units="cubic_micron" hidden="true">4988</Volume_rupture_volume>
		<div_initialization type="divider" description="---Method to change all Volume parameters consistenly ---" />
		<use_function_multiply_by_ratio type="bool" description="recommended method to change volume in your simulation">False</use_function_multiply_by_ratio>
		<multiplication_ratio_value type="double" description="multiplies all parameters accordingly to scale current volume">2.0</multiplication_ratio_value>
		
		

	</user_parameters>
	
</PhysiCell_settings>